@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: #161823;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Custom Tippy to box
body {
    .tippy-box {
        font-weight: 600;
        line-height: 2.2rem;
        font-size: 1.4rem;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
        border: transparent;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        border: transparent;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
